In [2]:
import pandas as pd
import numpy as np

## Series

In [3]:
numeros = pd.Series([1, 2, 3, 4, 5, 6, 7, 8])
numeros

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

In [ ]:
numeros * 2

In [ ]:
numeros - (numeros * 2)

In [ ]:
numeros[numeros%2==0]

In [ ]:
def triple(x):
    return 3*x
numeros.apply(triple)

## DataFrame

In [7]:
df = pd.DataFrame(np.random.rand(10,3), columns=['A', 'B', 'C'])
df

          A         B         C
0  0.189862  0.772660  0.931297
1  0.760331  0.994143  0.261021
2  0.237459  0.504234  0.004409
3  0.528362  0.702540  0.278298
4  0.891276  0.713915  0.434418
5  0.458531  0.552336  0.865950
6  0.314586  0.669110  0.776872
7  0.177555  0.605246  0.480828
8  0.714696  0.814840  0.540738
9  0.816905  0.042705  0.561469

In [6]:
df['A']

0    0.997032
1    0.281716
2    0.851166
3    0.664228
4    0.735866
5    0.893659
6    0.554137
7    0.251998
8    0.184282
9    0.812475
Name: A, dtype: float64

In [ ]:
df['C'] = df['A']-df['B']

In [ ]:
df[['C', 'B']]

In [ ]:
df[['A']]

In [ ]:
df[df['C']>0.2].A

In [2]:
BIKE = pd.read_csv('./train-bike.csv')
BIKE[:10]

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,0,1,1
5,2011-01-01 05:00:00,1,0,0,2,9.84,12.880,75,6.0032,0,1,1
6,2011-01-01 06:00:00,1,0,0,1,9.02,13.635,80,0.0000,2,0,2
7,2011-01-01 07:00:00,1,0,0,1,8.20,12.880,86,0.0000,1,2,3
8,2011-01-01 08:00:00,1,0,0,1,9.84,14.395,75,0.0000,1,7,8
9,2011-01-01 09:00:00,1,0,0,1,13.12,17.425,76,0.0000,8,6,14